.works {
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__img {
    width: 50%;
  }

  &__item {
    width: 50%;

    @include media-breakpoint-down(xs) {
      margin-top: 30px;
     }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    margin-top: 72px;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 35px;
     }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
     }
  }

  &__notice {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: $red;

    @include media-breakpoint-down(xs) {
      font-size: 18px;
     }
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.42;
    letter-spacing: 0.2px;
    color: #252B42;

    @include media-breakpoint-down(md) {
      font-size: 25px;
     }

    @include media-breakpoint-down(sm) {
      font-size: 20px;
     }

     @include media-breakpoint-down(xs) {
      font-size: 18px;
     }

  }

  &__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.58;
    letter-spacing: 0.2px;
    color: #737373;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
     }

    @include media-breakpoint-down(xs) {
      font-size: 18px;
     }
  }

  hr {
    border: 3px solid #E4E4E4;
    width: 884px;
  }
}
