.works {
  &__box {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    margin-top: 72px;
    text-align: center;
  }

  &__notice {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FA4A0C;
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
  }

  &__desc {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
  }

  hr {
    border: 3px solid #E4E4E4;
    width: 884px;
  }
}
