section.download#download
  .container
    .download__wrapper
      p.download__title Download the app now.
      p.download__text Available on your favorite store. Start your premium experience now
      .download__row
        button.download__btn Playstore
        button.download__btn App store