.download {
  background-image: url("../images/download/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding-top: 146px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.2px;
    color: $white;

    @include media-breakpoint-down(xs) {
      font-size: 25px;
     }
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.58;
    text-align: center;
    letter-spacing: 0.2px;
    color: $white;
    margin-top: 20px;

    @include media-breakpoint-down(xs) {
      font-size: 20px;
     }
  }

  &__row {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
  }

  &__btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: $white;
    padding: 18px 31px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid $white;

    &:hover {
      background-color: $red;
      border-color: $red;
    }

    &+& {
      margin-left: 20px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 14px;
      padding: 10px 25px;
     }
  }
}
