footer.footer
  .container
    .footer__wrapper
      img(src="/images/header/logo.png" alt="logo")
      .footer__row
        img.footer__img(src="/images/footer/twitter.svg" alt="twi")
        img.footer__img(src="/images/footer/facebook.svg" alt="fb")
        img.footer__img(src="/images/footer/instagram.svg" alt="inst")
      p.footer__notice Copywright 2020 Bella Onojie.com
