.footer {

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
     }
  }

  &__logo {
    width: 33%;

    @include media-breakpoint-down(xs) {
      width: 50%;
      margin-top: 20px;
     }
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
     }
  }

  &__notice {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #5C5C5C;

    @include media-breakpoint-down(xs) {
      margin-top: 20px;
     }
  }

  &__link {
    & + & {
      margin-left: 32px;
    }
  }
}
