section.app
  .container
    .app__wrapper
      p.app__title Food app
      p.app__text Why stay hungry when you can order form Bella Onojie
      p.app__desc Download the bella onoje’s food app now on
      .app__row
        button.app__btn Playstore
        button.app__btn App store