section.app#home
  .container
    .app__wrapper
      p.app__title Food app
      p.app__text Why stay hungry when you can order form Bella Onojie
      p.app__desc Download the bella onoje’s food app now on
      .app__row
        a.app__btn(href="https://www.google.com/" target="_blank") Playstore
        a.app__btn(href="https://www.google.com/" target="_blank") App store